.div__wrap-search {
    margin: 2% 10%;
}

.div__wrap-search_results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.loading__div h1{
    text-align: center;
    font-size: 40px;
    color: snow;
    margin: 50px 0;
}

@media (min-width: 375px) and (max-width: 812px) {
    .div__wrap-search {
        margin: 1% 5%;
    }

    .loading__div h1{
        font-size: 20px;
        margin: 20px 0;
    }

}
