.movies_container_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 3%;
    break-inside: avoid;
}

.loading__div h1 {
    text-align: center;
    font-size: 40px;
    color: snow;
    margin: 50px 0;
}

.wrap__pagination {
    margin: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text_div {
    color: #040C18;
    padding: 10px 20px;
    border-radius: 100%;
    background: linear-gradient(89.97deg, #90cea1 1.84%, #01b4e4 102.67%);
    font-weight: bold;
    font-size: 15px;
}

.div_carousel {
    display: flex;
    justify-content: center;
}

.div_carousel_inner {
    width: 90%;
}
 .carousel-control-prev{
    justify-content: flex-start;
}
.carousel-control-next{
    justify-content: flex-end;
}
.button_container__carousel{
    width:10%;
    height:min-content;
    font-size: 5px;
    border: 1px solid gainsboro;
    background: linear-gradient(89.97deg, lightgray 1.84%, snow 100.67%);
    border-radius: 8px;
    margin: 5px 0;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
}

.button_container__carousel:hover {
    transform: scale(1.1);
    background: #040C18;
    color: snow;
    opacity: 1;
    border: 1px solid #002854;
    text-decoration: none;
}

.button_container__carousel h1 {
    font-size: 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 375px) and (max-width: 812px) {
    .movies_container_div {
        column-gap: 3%;
    }

    .loading__div h1 {
        font-size: 10px;
        margin: 15px 0;
    }

    .wrap__pagination {
        margin: 10px;
    }

    .text_div {
        padding: 2px 5px;
        font-size: 7px;
    }

    .button_container__carousel{
        width:20%;
        font-size: 2px;
        border-radius: 4px;
        margin: 2px 0;
        padding: 1px;
    }

    .button_container__carousel h1 {
        font-size: 2px;
    }
}
